/.venv/

# Static and Media contents
media/*
static/admin/*
!media/.gitkeep
!static/.gitkeep
/.idea/
/static/debug_toolbar/
/.env.prod
/static/admin/
/static/debug_toolbar/
/static/rest_framework/
/static/rest_framework_swagger/
/static/drf-yasg/
