{% extends "base.html" %}

{% block title %}Redis Eats Панель управления{% endblock %}
{% block header %}Панель управления{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2>Размещение заказов</h2>
        {% if main_switch %}
            <p>Размещение заказов включено.</p>
        {% else %}
            <p>Размещение заказов выключено.</p>
        {% endif %}
        <p>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="switch" value="True">
            <input type="submit" value="Изменить">
        </form>
        </p>
        <h2>Удалить все заказы и вернуть все деньги:</h2>
        <p>
        <form method="POST" action="{% url "delete_orders" %}">
            {% csrf_token %}
            <label for="from">С какого числа:</label>
            <input required name="from" id="from" type="date">
            <input type="submit" value="Удалить все заказы" onsubmit="return confirm('Вы уверены?');">
        </form>
        </p>
    <a class="btn btn-danger" href="{% url "fake" %}">Сгенерировать данные</a>
    </div>
{% endblock %}
